<header>
    <div class="container">
        <div class="md:grid md:grid-cols-2">
            {% if craft.app.request.segments|length == 0 %} 
                <h1>
            {% else %}
                <span class="text-2xl font-bold">
            {% endif %}

                {{ systemName }}
            {% if craft.app.request.segments|length == 0 %} 
                </h1>
            {% else %}
                </span>
            {% endif %}

            <form class="flex justify-end">
                <input 
                    class="bg-black border border-blue-200 h-12 w-100 rounded px-4 py-4"
                    type="text" 
                    name="global" 
                    placeholder="Search by name, city, state...">
                <input type="submit" value="Search" class="block h-12 bg-pink-800 text-pink-200 px-6 py-2 duration-300 hover:text-white hover:bg-pink-900 hover:border hover:border-black">
        </div>
    </div>
</header>