{% extends '_layout' %}

{% block content %}
    <div class="container mx-auto">
        <h1>All Top Chefs</h1>
    </div>
    {% set intro = "The Chefs that have been on Top Chef... as I get around to adding them. You can also look for Chefs by season." %}

    {% include '_partials/intro' with { intro: intro, classes: 'text-2xl font-normal text-pink-500' } %}
    
    {% set seasons = craft.entries.section('seasons') %}
    <div class="container mx-auto"> 
        <h3 class="pb-8">Chefs By Season</h3>
        {% for season in seasons %}
            <a class="px-8 py-3 mr-4 border border-blue-500 duration-300 hover:border-white text-lg font-bold" href="{{ season.url }}">{{ season.title }}</a>
        {% endfor %}
    </div>



    {% include '_partials/sprig/chefsGrid' %}


{% endblock %}